go 1.22.0

use (
	./example
	./core
	./components/infrastucture/tracer
	./components/infrastucture/logger
	./components/infrastucture/tech
	./components/infrastucture/http
	./components/transports/daemon
	./components/transports/cron
	./components/transports/grpc
	./components/clients/postgresql
	./components/clients/redis
	./components/utils/config
	./components/transports/kafka-consumer
	./components/clients/kafka-producer
	./components/clients/kafka
	./components/utils/toml
)